<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler1">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        Number.prototype.isDivisibleBy = function(divisor){
          return (this.valueOf() % divisor == 0);
        }

        var appName = 'euler1';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;
          for (var i = 0; i < 1000; i++){
            if((i).isDivisibleBy(3) || (i).isDivisibleBy(5)){
              this.answer += i;
            }
          }
        }

        
      })();
    </script>
  </body>
</html>