<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;
          for (var i = 999; i >= 100; i--) {
            for(var j = i; j >= 100; j--){
              var x = j * i;
              if((x).isPalindromic()){
                if(x > this.answer){
                  this.answer = x;
                }
              }
            }
          }


        }

        Number.prototype.isPalindromic = function(){
            var str = this.valueOf().toString();
            if(str.charAt(0) != str.charAt(str.length - 1))
              return false;
            if(str.length >= 4 && 
              (str.charAt(1) != str.charAt(str.length - 2) || 
                str.charAt(2) != str.charAt(str.length - 3)))
              return false;
            return true;
        };

        
        
      })();
    </script>
  </body>
</html>