<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;
          var f = new Fibonacci();
          while(f.next() < 4000000){
            if(f.isEven()){
              this.answer += f.valueOf();
            }
          }
        }

        function Fibonacci(){
          this.current = 1;
          this.previous = 0;
        }

        Fibonacci.prototype.next = function(){
          var temp = this.current + this.previous;
          this.previous = this.current;
          this.current = temp;
          return this.valueOf();
        };

        Fibonacci.prototype.isEven = function(){
          return (this.current.valueOf() % 2 == 0);
        };

        Fibonacci.prototype.valueOf = function(){
          return this.current.valueOf();
        };

        Fibonacci.prototype.toString = function(){
          return this.current.valueOf().toString();
        };

        
      })();
    </script>
  </body>
</html>