<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = (5143).primeFactors();

        }

        Number.prototype.factors = function(){
          var value = this.valueOf();
          var factors = [];
          for(var i = 2; i < value; i++) {
              if(value % i === 0) {
                  factors.push(i);
              }
          }
          return factors;
        }

        Number.prototype.primeFactors = function(){
          var factors = this.factors();
          var primeFactors = [];
          for(var i = 0; i < factors.length; i++) {
              if(factors[i].isPrime()) {
                primeFactors.push(factors[i].valueOf());
              }
          }
          return primeFactors;
        }

        Number.prototype.isPrime = function() {
          var value = this.valueOf();
          for(var i = 2; i < value; i++) {
              if(value % i === 0) {
                  return false;
              }
          }
          return value > 1;
        };
        
      })();
    </script>
  </body>
</html>