<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;
          var i = 0;
          var max = 20;
          while(i < 10000000000){
            for(var j = 2; j <= max; j++){
              if(!i.isEvenlyDivisbleby(j)){
                break;
              }
              if(j == max){
                this.answer = i;
              }
            }
            if(this.answer)
              break;
            i += max;
          }

          this.answer = this.answer + ' Done.'
        }

        Number.prototype.isEvenlyDivisbleby = function(divisor){
            return this.valueOf() % divisor == 0;
        };

        
        
      })();
    </script>
  </body>
</html>