<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;
          var sumOfI = 0;
          var sumOfSquares = 0;
          for(var i = 1; i <= 100; i++){
            sumOfI += i;
            sumOfSquares += i.square();
          }
          squareOfSum = sumOfI.square();
          this.answer = squareOfSum - sumOfSquares;
        }

        Number.prototype.square = function(){
            return this.valueOf() * this.valueOf();
        };

        
        
      })();
    </script>
  </body>
</html>