<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body style="background-color: #999;">
    <div class="container" data-ng-app="euler">
      <div class="text-center" data-ng-controller="ctrl as ctrl">
        {{ctrl.answer}}
      </div>
    </div>
    <script type="text/javascript">
      (function(){
        var appName = 'euler';
        angular.module(appName, []);

        angular.module(appName).controller('ctrl', ctrl);
        function ctrl(){
          this.answer = 0;

          for(var a = 1; a < 1000; a++){
            for(var b = 1; b < 1000; b++){
              if(a >= b){
                continue;
              }
              var c = checkTriplet(a, b);
              if(c){
                this.answer = a + b + c;
              }
              if(this.answer == 1000)
                break;
            }
            if(this.answer == 1000)
              break;
          }
          console.log(a * b * c);
        }

        function checkTriplet(a, b){
          var AB = a.square() + b.square();
          var c = Math.sqrt(AB);
          if(c == Math.floor(c)){
            return c;
          }
          return false;
        }

        Number.prototype.square = function(){
          return this.valueOf() * this.valueOf();
        }
      })();
    </script>
  </body>
</html>